<!DOCTYPE html>
<html>
<head></head>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="newlink">AddMongoDBLinks</a>
				</li>
				<li id="Links">
					<a>ShowMongoDBLinks
						<script>firePage("content","links", "Links")</script>
					</a>
				</li>
				<li id="bookmarks">
					<a>ShowStaticLinks
						<script>firePage("content","html/Bookmarks.html", "bookmarks")</script>
					</a>
				</li>
				<li id="MongoJSLinks">
					<a href="html/Userslinks.html">MongoJSLinks</a>
				</li>
				<li id="Pdfs_Fleet">
					<a>Learning Materials
						<script>firePage("content","html/Pdfs_Fleet.html", "Pdfs_Fleet")</script>
					</a>
				</li>
				<li id="Contact">
					<a href="html/Contact.html">MongoJSContact</a>
				</li>
				<li id="pages">
					<a href="http://www.tech2hack.com/secret-android-codes-hidden-features/">Secret Android Codes
					</a>
				</li>
				<li>
					<a href="#">About
					</a>
				</li>
			</ul>
		</div>
        <!-- /#sidebar-wrapper -->
	        <!-- Page Content -->
	        <div ng-app="myLinks" id="page-content-wrapper">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
							<h1 id="tochange1" class="header animated fadeInDown">let's get started</h1>
	                    </div>
	                </div>
				</div>
				<div id="hidden" class="frame">
					<div id="list">
						<a style="text-decoration:none" id="menu-toggle"><h2 id= 'tochange2' class="toanimate">Click Here</h2></a>
					</div>
				</div>
<!-- coolstuff -->
				<div class="container" ng-controller="PrgCtrl">
					<table class="table">
					  <thead>
						<tr>
						  <th>Programming/Links</th>
						  <th>Description</th>
						  <th>Action</th>
						  <th>&nbsp;</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td><input class="form-control" ng-model="programming.data"></td>
						  <td><input class="form-control" ng-model="programming.description"></td>
						  <td><button class="btn btn-primary" ng-click="addLinks()">Add Link</button></td>
						  <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
						</tr>
						<tr ng-repeat="programming in prgLinks">
						  <td>
							  <a href="{{programming.data}}">{{programming.description}}</a>
						  </td>
						  <td><button class="btn btn-danger" ng-click="remove(programming._id)">Remove</button></td>
						  <td><button class="btn btn-warning" ng-click="edit(programming._id)">Edit</button></td>
						</tr>
					  </tbody>
					</table>
				</div>
<!-- EndofCoolStuff -->
				<div id="content"></div>
			<!-- /#page-content-wrapper -->
			</div>
		</div>
	<!-- /#wrapper -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
	<script src="html/controllers/links-ctrl.js"></script>
</body>
</html>
