#tochange1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 1px 1px black;
}

#tochange2 {
	margin: 0;
	padding: 20px 0;
	color: #00538F;
	/*text-shadow: 3px 1px 0px black;*/
	/*font-size: 40px;*/
	text-align: center;
}

.toanimate {
	-moz-animation-duration: 3s;
	/*-moz-animation-delay: 2s;*/
	-webkit-animation-duration: 3s;
	/*-webkit-animation-delay: 2s;*/
	/*-moz-animation-iteration-count: infinite;*/
	border:				0px;
}

.frame {
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	margin:				0 auto;
	background-color:	#000000;
}

/*#page-content-wrapper {
	background-color: #000000;
}*/

p, li {
	font-size: 16px;
	text-align:	justify;
	line-height: 2;
	letter-spacing: 1px;
}
