<!DOCTYPE html>
<html>
<head></head>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a id="new">Connect
						<script>firePage("content","newuser", "new")</script>
					</a>
				</li>
				<li id="bookmarks">
					<a>Bookmarks
						<script>firePage("content","bookmarks", "bookmarks")</script>
					</a>
				</li>
				<li id="Pdfs_Fleet">
					<a>Learning Materials
						<script>firePage("content","pdfs_Fleet", "Pdfs_Fleet")</script>
					</a>
				</li>
				<li id="Links">
					<a>Links
						<script>firePage("content","links", "Links")</script>
					</a>
				</li>
				<li id="Contact">
					<a>Contact
						<script>firePage("content","contact", "Contact")</script>
					</a>
				</li>
				<li id="pages">
					<a href="http://www.tech2hack.com/secret-android-codes-hidden-features/">Secret Android Codes
					</a>
				</li>
				<li>
					<a href="#">About
					</a>
				</li>
			</ul>
		</div>
        <!-- /#sidebar-wrapper -->
	        <!-- Page Content -->
	        <div id="page-content-wrapper">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
							<h1 id="tochange1" class="header animated fadeInDown">let's get started</h1>
	                    </div>
	                </div>
				</div>
				<div id="hidden" class="frame">
					<div id="list">
						<a style="text-decoration:none" id="menu-toggle"><h2 id= 'tochange2' class="toanimate">Click Here</h2></a>
					</div>
				</div>
				<div id="content"></div>
			<!-- /#page-content-wrapper -->
			</div>
		</div>
	<!-- /#wrapper -->
</body>
</html>
